.m-1{
    margin: 1px;
}
.m-2{
    margin: 2px;
}
.m-3{
    margin: 3px;
}
.m-4{
    margin: 4px;
}
.m-5{
    margin: 5px;
}
.m-6{
    margin: 6px;
}
.m-7{
    margin: 7px;
}
.m-8{
    margin: 8px;
}
.m-9{
    margin: 9px;
}
.m-10{
    margin: 10px;
}
.m-11{
    margin: 11px;
}
.m-12{
    margin: 12px;
}
.m-13{
    margin: 13px;
}
.m-14{
    margin: 14px;
}
.m-15{
    margin: 15px;
}
.m-16{
    margin: 16px;
}
.m-17{
    margin: 17px;
}
.m-18{
    margin: 18px;
}
.m-19{
    margin: 19px;
}
.m-20{
    margin: 20px;
}
.m-21{
    margin: 21px;
}
.m-22{
    margin: 22px;
}
.m-23{
    margin: 23px;
}
.m-24{
    margin: 24px;
}
.m-25{
    margin: 25px;
}
.m-26{
    margin: 26px;
}
.m-27{
    margin: 27px;
}
.m-28{
    margin: 28px;
}
.m-29{
    margin: 29px;
}
.m-30{
    margin: 30px;
}
.m-31{
    margin: 31px;
}
.m-32{
    margin: 32px;
}
.m-33{
    margin: 33px;
}
.m-34{
    margin: 34px;
}
.m-35{
    margin: 35px;
}
.m-36{
    margin: 36px;
}
.m-37{
    margin: 37px;
}
.m-38{
    margin: 38px;
}
.m-39{
    margin: 39px;
}
.m-40{
    margin: 40px;
}
.m-41{
    margin: 41px;
}
.m-42{
    margin: 42px;
}
.m-43{
    margin: 43px;
}
.m-44{
    margin: 44px;
}
.m-45{
    margin: 45px;
}
.m-46{
    margin: 46px;
}
.m-47{
    margin: 47px;
}
.m-48{
    margin: 48px;
}
.m-49{
    margin: 49px;
}
.m-50{
    margin: 50px;
}
.mt-1{
    margin-top: 1px;
}
.mt-2{
    margin-top: 2px;
}
.mt-3{
    margin-top: 3px;
}
.mt-4{
    margin-top: 4px;
}
.mt-5{
    margin-top: 5px;
}
.mt-6{
    margin-top: 6px;
}
.mt-7{
    margin-top: 7px;
}
.mt-8{
    margin-top: 8px;
}
.mt-9{
    margin-top: 9px;
}
.mt-10{
    margin-top: 10px;
}
.mt-11{
    margin-top: 11px;
}
.mt-12{
    margin-top: 12px;
}
.mt-13{
    margin-top: 13px;
}
.mt-14{
    margin-top: 14px;
}
.mt-15{
    margin-top: 15px;
}
.mt-16{
    margin-top: 16px;
}
.mt-17{
    margin-top: 17px;
}
.mt-18{
    margin-top: 18px;
}
.mt-19{
    margin-top: 19px;
}
.mt-20{
    margin-top: 20px;
}
.mt-21{
    margin-top: 21px;
}
.mt-22{
    margin-top: 22px;
}
.mt-23{
    margin-top: 23px;
}
.mt-24{
    margin-top: 24px;
}
.mt-25{
    margin-top: 25px;
}
.mt-26{
    margin-top: 26px;
}
.mt-27{
    margin-top: 27px;
}
.mt-28{
    margin-top: 28px;
}
.mt-29{
    margin-top: 29px;
}
.mt-30{
    margin-top: 30px;
}
.mt-31{
    margin-top: 31px;
}
.mt-32{
    margin-top: 32px;
}
.mt-33{
    margin-top: 33px;
}
.mt-34{
    margin-top: 34px;
}
.mt-35{
    margin-top: 35px;
}
.mt-36{
    margin-top: 36px;
}
.mt-37{
    margin-top: 37px;
}
.mt-38{
    margin-top: 38px;
}
.mt-39{
    margin-top: 39px;
}
.mt-40{
    margin-top: 40px;
}
.mt-41{
    margin-top: 41px;
}
.mt-42{
    margin-top: 42px;
}
.mt-43{
    margin-top: 43px;
}
.mt-44{
    margin-top: 44px;
}
.mt-45{
    margin-top: 45px;
}
.mt-46{
    margin-top: 46px;
}
.mt-47{
    margin-top: 47px;
}
.mt-48{
    margin-top: 48px;
}
.mt-49{
    margin-top: 49px;
}
.mt-50{
    margin-top: 50px;
}